// Color

$color-violet: hsl(252, 94%, 67%);
$color-violet-light: hsl(252, 100%, 73%);
$color-slate: hsl(233, 31%, 17%);
$color-slate-light: hsl(233, 30%, 21%);
$color-lilac: hsl(231, 37%, 63%);
$color-lilac-light: hsl(231, 73%, 93%);
$color-lilac-desaturated: hsl(231, 20%, 61%);
$color-watermelon: hsl(0, 80%, 63%);
$color-watermelon-light: hsl(0, 100%, 80%);
$color-snow: hsl(240, 27%, 98%);
$color-onyx: hsl(228, 29%, 7%);
$color-ink: hsl(233, 30%, 11%);

// Typography
$font-family-league-spartan: 'League Spartan', sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;

// then have...
:root {
  --bg-button-primary: $color-slate;
}

:root[data-theme='dark'] {
  --bg-button-primary: $color-lilac;
}

// or just make utility class?
.slds-button {
  color: $color-slate;
}

.text-button-primary {
  color: $color-snow;
}
