$font-family-league-spartan: 'League Spartan', sans-serif;
$font-weight-bold: 700;
$font-weight-medium: 500;

%heading-large {
  font-size: 2.25rem; // 36px
  line-height: 0.917;
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--onyx);
}

%heading-medium-variant {
  // total value in invoice table, neew invoice h1
  font-size: 1.5rem; // 24px;
  line-height: 1.333; // 32px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--white);
}

%heading-semi-medium {
  font-size: 1.125rem; // 18px;
  line-height: 1.778; // 32px;
  font-weight: 700;
  letter-spacing: -0.38px;
  color: var(--graphite);
}

%heading-small {
  font-size: 0.9375rem; // 15px;
  line-height: 1.6; // 24px;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: var(--onyx);
}

%heading-small-variant {
  font-size: 0.9375rem; // 15px;
  line-height: 1; // 15px;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: var(--onyx);
}

%heading-small-invoice {
  font-size: 0.9375rem; // 15px;
  line-height: 1.333; // 20px;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: var(--onyx);
}

%subheading-small {
  font-size: 0.8125rem; // 13px;
  line-height: 1.154; // 15px;
  font-weight: 500;
  letter-spacing: -0.1px;
  color: var(--raincloud);
}

%body-text {
  font-size: 0.8125rem; // 13px;
  line-height: 1.385; // 18px;
  font-weight: 500;
  letter-spacing: -0.1px;
  color: var(--lilac);
}
