@use '../abstracts/typography' as *;

body {
  font-family: var(--fnt-family-base);
  font-weight: 500;
  line-height: 1.5; // ?
  background-color: var(--snow);
  color: var(--onyx);
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// END GLOBAL

// UTILITIES
.main-container {
  max-width: 930px;
  padding-inline: 100px;
  margin-inline: auto;
}
// END UTILITIES

// SIDEBAR
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  bottom: 0;
  width: 103px;
  background-color: var(--gunpowder);
  border-radius: 0 20px 20px 0;
  overflow: hidden;

  .logo {
    position: relative;
    display: grid;
    place-content: center;
    isolation: isolate;
    width: 103px;
    height: 103px;
    background-color: var(--violet);
    border-radius: 0 20px 20px 0;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-color: var(--crocus);
      border-radius: 20px 0 20px 0;
    }
  }

  .toggle {
    display: grid;
    margin-top: auto;
    place-content: center;
    height: 88px;
    border-bottom: 1px solid var(--stone);
  }

  .avatar {
    display: grid;
    place-content: center;
    height: 88px;

    img {
      border-radius: 50%;
    }
  }
}
// END SIDEBAR

// MAIN PAGE HEADER
.main-header {
  padding-top: 77px;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 40px;

  @extend %subheading-small;

  .title {
    margin-right: auto;
  }

  h1 {
    @extend %heading-large;
  }

  .filter {
    display: flex;
    align-items: center;
    gap: 14px;
    @extend %heading-small-variant;
  }
}
// END MAIN PAGE HEADER

// MAIN PAGE INVOICE LIST CARD
.invoice-list-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.invoice-summary {
  display: grid;
  grid-template-columns: 1.6fr 2.3fr 2.3fr 1.6fr 2.2fr auto;
  align-items: baseline;
  gap: 1rem;
  padding: 16px 20px 16px 32px;

  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px var(--shadow);

  transition: outline 100ms ease;

  .id {
    @extend %heading-small-variant;
    &::before {
      content: '#';
      color: var(--lilac);
    }
  }

  .date,
  .name {
    @extend %subheading-small;
  }

  .date span {
    color: var(--lilac);
  }

  .total {
    @extend %heading-small-variant;
    text-align: end;
    // should be 24px line-height but try align baseline
  }

  .tag {
    @extend %heading-small-variant;
    justify-self: end;
    min-width: 104px;
    padding: 14px 18px 11px 14px;
    color: var(--pumpkin);
    border-radius: 6px;
    text-transform: capitalize;
    background-color: hsl(34, 100%, 50%, 5.71%);

    &::before {
      vertical-align: bottom;
      margin-right: 4px;
      content: '\2022';
      font-size: 1.7em;
      line-height: 0.5;
    }
  }

  &:hover,
  &:focus {
    outline: 1px solid var(--violet);
    outline-offset: -1px;
  }
}
// END MAIN PAGE INVOICE LIST CARD

// INVOICE PAGE
.invoice-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px 32px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px var(--shadow);

  .status {
    @extend %subheading-small;
  }

  .tag {
    @extend %heading-small-variant;
    justify-self: end;
    min-width: 104px;
    padding: 14px 18px 11px 14px;
    color: var(--pumpkin);
    border-radius: 6px;
    text-transform: capitalize;
    background-color: hsl(34, 100%, 50%, 5.71%);

    // push right
    margin-right: auto;
    // bigger gap
    margin-left: 12px;

    &::before {
      vertical-align: bottom;
      margin-right: 4px;
      content: '\2022';
      font-size: 1.7em;
      line-height: 0.5;
    }
  }

  button {
    padding: 18px 24px 15px;
  }
}

.invoice-main {
  background-color: var(--white);
  border-radius: 8px;
  padding: 48px;
  box-shadow: 0 10px 10px -10px var(--shadow);
  margin-top: 24px;

  .invoice-id {
    @extend %heading-small;
    &::before {
      content: '#';
      color: var(--raincloud);
    }
  }

  .flex-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .dates-row {
    margin-top: 21px;
  }

  .title {
    @extend %subheading-small;
  }

  .bold {
    @extend %heading-small-invoice;
  }

  .description {
    @extend %subheading-small;
  }

  .address {
    @extend %body-text;
  }

  table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    background-color: var(--frost);
    border-spacing: 0;

    .left {
      text-align: start;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: end;
    }

    .lilac {
      color: var(--lilac);
    }

    .white {
      color: var(--white);
    }

    .total {
      @extend %heading-medium-variant;
    }

    .gunpowder {
      background-color: var(--gunpowder);
    }

    th {
      @extend %body-text;
      padding: 16px 32px;
      border: none;
    }

    td {
      @extend %heading-small-variant;
      padding: 16px 32px;
      border: none;
    }

    tr:first-child th {
      padding-top: 32px;
    }

    tr:nth-last-child(2) td {
      padding-bottom: 40px;
    }

    tr:last-child td {
      padding: 27px 32px 21px;
    }
  }
}
// END INVOICE PAGE

// NEW INVOICE PAGE
.new-invoice {
  padding-top: 59px;
  background-color: var(--white);

  .inline-inputs {
    display: flex; // makes bigger gap under legend?? no because it was under street input
    gap: 24px;
  }
  h1 {
    @extend %heading-medium-variant;
    color: var(--onyx);
  }
  h2 {
    @extend %heading-semi-medium;
  }
  fieldset {
    margin-top: 46px; // or 49px between fieldsets?
    border: none;
  }
  div {
    margin-top: 24px;
  }
  legend {
    @extend %heading-small-variant;
    color: var(--violet);
  }
  label {
    @extend %subheading-small;
    display: block;
    margin-bottom: 9px;
    color: var(--lilac);
  }
  input,
  select,
  option {
    @extend %heading-small-variant;
    padding: 18px 20px 15px;
    border: 1px solid var(--mist);
    border-radius: 4px;
  }
}
// END NEW INVOICE PAGE

// BUTTONS
// NOTE: May need to change the line-height or padding between circle icon or just text button
button {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  @extend %heading-small-variant;
  color: var(--white);
  background-color: var(--violet);
  border-radius: 100vw;

  padding: 8px 17px 8px 8px;
  transition: background 100ms ease;
}

button:hover,
button:focus {
  background-color: var(--crocus);
}
// END BUTTONS

// DATE PICKER
.date-picker {
  position: relative;
  min-width: 240px;

  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input {
    width: 100%;
  }

  button {
    background-color: transparent;
    border-radius: 0;
    padding: 16px;
  }

  .toggle-btn {
    position: absolute;
    background-color: transparent;
    color: var(--lilac);
    padding: 16px;
    right: 0px;
    top: 40px;
  }
  .calendar {
    position: absolute;
    width: 100%;
    border-radius: 8px;
    background-color: var(--white);
    @extend %heading-small-variant;
    box-shadow: 0 10px 20px 0px var(--shadow);
    padding: 10px;

    table {
      width: 100%;
    }

    td,
    th,
    tr {
      text-align: center;
      width: 28px;
      height: 28px;
    }

    th {
      color: var(--raincloud);
    }

    td button {
      display: block;
      text-align: center;
      cursor: pointer;
      padding: 0;
      background-color: transparent;
      color: var(--onyx);
      border-radius: 0;
      min-width: 28px;
      min-height: 28px;
      &:hover {
        color: var(--crocus);
      }
    }

    .date-month {
      padding: 16px 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
// END DATE PICKER

// START MODAL
.modal-root {
  // display: grid;
  // place-content: center;
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.5);

  .modal-content {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
// END MODAL
